/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }


BODY { 
       background-color:"#FFFFF0";
       color: DARKBLUE;
    }

/*h1,h2,h3 { color: LightBlue; }*/
h1,h2,h3 {  color: #005A9C;}
a { 
    color: red;
 }

a.offsite
{
  font-style: oblique;
}

a:visited
{
  color: darkred;
}

a:hover, a:active, a:focus
{
  background: #FFFFAA;
}

blockquote
{ font-size: small}

dt { font-weight: bold  } 

th {  }