# m h    dom mon dow	command
1-59/5 *    * * *	autopkgtest/runner/adt-testreport-cronjob adt-play cfg
5-35/30 *   * * *	autopkgtest/runner/adt-openbugs-update adt-play cfg >/dev/null
4 13	    * * Sun	savelog -c7 adt-play/var/log adt-play/var/overall.log
