table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    border: 2px solid black;
}

th {
    border: 1px solid black;
    background: gray;
    color: white;
    text-align: center;
}

td { border: 1px solid black; }

.verbatim {
    background: lightgray;
    margin-left: 2em;
    margin-right: 2em;
    padding: 5px 10px 5px 10px;
}
